html, body{

    background-size: cover;
    background: radial-gradient(#545454, black) fixed;
    height: 100%;

    font-family: Verdana, Arial, sans-serif;
    color: white;
    padding: 0;
    margin: 0px 5px 0px 5px;

}

a{
    color: #5166ff;
}
a:visited {

    color: #5166ff;

}
#page{

    height: 100%;
    display:flex;
    flex-direction:column;

}

#heading{
background-color: #252525;
}


#menu ul {

    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

#menu ul li {
    display: inline;
    background-color: #333333;
    float: left;
}

#menu li a {
    display: block;
    padding: 20px;
    color: whitesmoke;
    text-decoration: none;
    min-width: 150px;
    text-align: center;
}

#currentPage{

    background-color: #4a4a4a;

}


#content{

    flex-grow: 1;
    max-width: 75%;
    min-width: 75%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;

}

h1{
    color: whitesmoke;
    text-align: center;
}


.dropContent{
    display: none;
    position: absolute;
    background-color: #333333;
    min-width: 190px;
    box-shadow: 10px 10px 50px 2px rgba(0,0,0,0.5);
    z-index: 1;
}


.dropDown:hover .dropContent {
    display: block;
}

.infoBox{
    display: flex;
    margin-bottom: 10px;

}

.leftBox{
    width: 45%;
    margin-right: 7%;
    border: 10px solid #545454;
    text-align: center;
}
.rightBox{
    width: 45%;
    border: 10px solid #545454;
    text-align: center;
    word-wrap: break-word;
}

#content img {
    margin-right: auto;
    margin-left: auto;
    display: block;
    max-width: 100%;

}

canvas {
    position: absolute;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
    width: 500px;
    height: 400px;
}

#player {
    position: relative;
    top: 500px;
    text-align: center;
}

#video {
    text-align: center;
}

table{
    width: 100%;
    margin-bottom: 10px;
}
td{
    width: 54%;

}



